<div class="min-w-screen min-h-screen flex items-center justify-center px-5">
  <div class="bg-gray-100 text-gray-500 rounded-3xl shadow-xl w-full overflow-hidden" style="max-width:1000px">
    <div class="md:flex w-full">
      <div class="hidden md:block w-1/2 bg-black py-10 px-10">
        <img alt="scubaboker" src=<%=asset_path("scubabooker_register.png") %>>
      </div>
      <div class="w-full md:w-1/2 py-10 px-5 md:px-10">
        <div class="text-center mb-10">
          <h1 class="font-bold text-3xl text-gray-900">REGISTER</h1>
          <p>Enter your information to register</p>
        </div>
        <div>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
          <div class="flex -mx-3">
            <div class="w-full px-3 mb-5">
              <label for="" class="text-xs font-semibold px-1">Puno ime i prezime</label>
              <div class="flex">
                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-account-outline text-gray-400 text-lg"></i></div>
                <%= f.text_field :name, class:"w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500", placeholder:"Ime i prezime" %>

              </div>
            </div>
          </div>
          <div class="flex -mx-3">
            <div class="w-full px-3 mb-5">
              <label for="" class="text-xs font-semibold px-1">Email</label>
              <div class="flex">
                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-email-outline text-gray-400 text-lg"></i></div>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500", placeholder:"Email" %>
              </div>
            </div>
          </div>
          <div class="flex -mx-3">
            <div class="w-full px-3 mb-12">
              <label for="" class="text-xs font-semibold px-1">Lozinka</label>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <div class="flex">
                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-lock-outline text-gray-400 text-lg"></i></div>
                <%= f.password_field :password, autocomplete: "new-password", class:"w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500", placeholder:"***********" %>
              </div>
            </div>
          </div>
            <div class="flex -mx-3">
            <div class="w-full px-3 mb-12">
              <label for="" class="text-xs font-semibold px-1">Potvrdi Lozinku</label>
               <div class="flex">
                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-lock-outline text-gray-400 text-lg"></i></div>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500", placeholder:"***********" %>
               </div>
            </div>
          </div>
            <div class="flex -mx-3">
            <div class="w-full px-3 mb-5">
              <div class="actions">
                <%= f.submit "REGISTER NOW", class:"block w-full max-w-xs mx-auto bg-indigo-500 hover:bg-indigo-700 focus:bg-indigo-700 text-white rounded-lg px-3 py-3 font-semibold" %>
              </div>
          <% end %>
          <%= render "devise/shared/links" %>
            </div>
          </div>
         </div>
          </div>
    </div>
  </div>
</div>

