<div class="p-4 w-full items-center bg-gray-300">
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-12 sm:col-span-6 md:col-span-3">
      <div class="flex flex-row bg-white shadow-sm rounded p-4">

      </div>
    </div>
    <div class="col-span-12 sm:col-span-6 md:col-span-3">
      <div class="flex flex-row bg-white shadow-sm rounded p-4">

      </div>
    </div>
    <div class="col-span-12 sm:col-span-6 md:col-span-3">
      <div class="flex flex-row bg-white shadow-sm rounded p-4">

      </div>
    </div>
    <div class="col-span-12 sm:col-span-6 md:col-span-3">
      <div class="flex flex-row bg-white shadow-sm rounded p-4">
      </div>
    </div>
  </div>
</div>
<div class="flex min-h-screen bg-white">
  <div class="md:w-1/2 max-w-lg mx-auto my-2 px-4 py-5 shadow-none">
    <h1 class="text-6xl font-bold mt-4"><%= @location.name  %></h1>
    <!-- country region island -->
    <div class="flex mt-16 font-light text-gray-500">
      <div class="pr-4">
        <span class="uppercase">Zona</span>
        <p class="text-lg text-gray-900 font-semibold pt-2"><%= @location.zone.name %></p>
      </div>
      <div class="pr-4">
        <span class="uppercase">Zemlja</span>
        <p class="text-lg text-gray-900 font-semibold pt-2 capitalize;"><%= @location.country.nicename %></p>
      </div>
      <div class="pr-4">
        <span class="uppercase">Regija</span>
        <p class="text-lg text-gray-900 font-semibold pt-2"><%= @location.region.name %></p>
      </div>
      <div class="pr-4">
        <span class="uppercase">Tip</span>
        <p class="text-lg text-gray-900 font-semibold pt-2"><%= @location.type.name %></p>
      </div>
      <div class="pr-4">
        <span class="uppercase">Kategorija</span>
        <p class="text-lg text-gray-900 font-semibold pt-2"><%= @location.category.name %></p>
      </div>
    </div>
    <%= image_tag @location.master_image, class: "h-72 w-full rounded-lg shadow-md bg-cover mt-8 bg-center object-cover" %>
     <div class="description w-full mt-8 text-gray-500 text-sm"><%= @location.desc %></div>
    <% @location.centers.each do |cc| %>
      <%= link_to cc do %>
        <%= cc.name %>
      <% end %>
    <% end %>
    <h3>Dojmovi <%= @location.average_rating %>(<%=@reviews.count %>)</h3>
    <div class="flex">
      <%= render 'reviews/form' %>

    </div>
    <div class="flex">
      <%= render 'reviews/list' %>
    </div>
<!--
    <%# if @location.photos.attached? %>
      <%# @location.photos.each do |ph| %>
        <%#= f.hidden_field :photos, multiple: true, value: ph.signed_id %>
      <%# end %>
    <%# end %>
-->


      <%#= image_tag url_for(location), :class => "locations" %>
      <%#= image_tag @location.new_images, class: "h-72 w-full rounded-lg shadow-md bg-cover mt-8 bg-center" %>


    <!--    <div class="flex justify-center pb-3 text-grey-dark">
      <div class="text-center mr-3 border-r pr-3">
        <h2><%#=@location.maxdepth %></h2>
        <span>Dubina</span>
      </div>
      <div class="text-center">
        <h2>42</h2>
        <span>Friends</span>
      </div>
    </div>-->
  </div>

  <div id="map" class="md:w-1/2"></div>
</div>
<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({
            provider: {
                disableDefaultUI: true
                // pass in other Google Maps API options here
            },
            internal: {
                id: 'map'
            }
        },
        function(){
            markers = handler.addMarkers(
                <%=raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            handler.getMap().setZoom(9);
        }
    );
</script>